@media only screen and (min-width: 480px) {
  .wrapper {
    max-width: 75vw;
  }

  .main-title {
    max-width: 75vw;
  }
}

@media only screen and (min-width: 567px) {
  .wrapper {
    max-width: 55vw;
  }

  .main-title {
    max-width: 100%;
    font-size: 1.8em;
  }

  .meme-container {
    max-width: 100%;
    font-size: 1.1em;
  }

  .meme-label {
    padding: 5% 0;
  }

  .meme-label:hover > .meme-picture,
  .meme-label > .meme-picture:hover {
    margin-top: 5%;
  }

  .radio-btn:checked + .meme-label > .meme-picture {
    margin-top: 5%;
  }
}

@media only screen and (min-width: 901px) {
  .wrapper {
    max-width: 45vw;
  }
}

@media only screen and (min-width: 1100px) {
  body {
    padding-top: 2%;
  }

  .wrapper {
    max-width: 33vw;
  }

  .main-title {
    max-width: 100%;
    font-size: 2em;
  }

  .meme-container {
    max-width: 100%;
    font-size: 1.2em;
  }

  .wrapper:hover .meme-label:hover,
  .meme-picture:hover {
    background-position: top 5% right;
  }

  .wrapper:hover .radio-btn:checked + .meme-label {
    background-position: top 5% right;
  }

  .wrapper:hover .meme-container:active > .meme-label {
    color: green;
    background: url('./assets/open-icon-green.png') no-repeat top 5% right;
  }
}
