body {
  padding-top: 5%;
}

.wrapper {
  max-width: 90%;
  margin: auto;
}

.wrapper:hover,
.meme-label:hover,
.meme-picture:hover {
  cursor: pointer;
}

.meme-container {
  width: 80%;
  margin: auto;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  font-size: 1em;

  border-bottom: lightgreen 0.1em solid;
}

.main-title {
  max-width: 30em;
  margin: auto;

  font-size: 1.5em;
}

.meme-container:first-child {
  border-top: lightgreen 0.1em solid;
}

.meme-label {
  width: 100%;
  padding: 1em 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  font-weight: 700;
}

.meme-picture {
  width: 15em;
  height: 0;
  margin: 0 auto;
  margin-top: 0.5em;
  overflow: hidden;
  transition: 1s;
}

.radio-btn {
  display: none;
}

.radio-btn:checked + .meme-label > .meme-picture {
  height: 15em;
  margin: auto;
  margin-top: 0.5em;
  transition: 1s;
}

.wrapper .radio-btn:checked + .meme-label {
  color: #000;
  background: url('./assets/open-icon.png') no-repeat top 3% right;
}

.wrapper .radio-btn:checked + .meme-label {
  background: none;
}

@media (hover: hover) {
  .meme-label:hover > .meme-picture,
  .meme-label > .meme-picture:hover {
    height: 15em;
    transition: 1s;
  }

  .wrapper:hover .meme-label {
    color: #000;
    background: url('./assets/close-icon.png') no-repeat center right;
  }

  .meme-container:active > .meme-label > .meme-picture {
    opacity: 0.5;
  }

  .wrapper:hover .meme-label:hover,
  .meme-picture:hover {
    background: url('./assets/open-icon.png') no-repeat top 3% right;
  }

  .wrapper:hover .meme-container:active + .meme-label {
    background: url('./assets/open-icon-green.png') no-repeat top 3% right;
  }

  .wrapper:hover .radio-btn:checked + .meme-label {
    color: #000;
    background: url('./assets/open-icon.png') no-repeat top 3% right;
  }

  .wrapper:hover .meme-container:active > .meme-label {
    color: green;
    background: url('./assets/open-icon-green.png') no-repeat top 3% right;
  }
}
