body {
  padding-top: 5%;
}

.wrapper {
  max-width: 97vw;
  margin: auto;
}

.wrapper:hover,
.meme-label:hover,
.meme-picture:hover {
  cursor: pointer;
}

.meme-container {
  max-width: 90%;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  font-size: 1em;

  border-bottom: lightgreen 2px solid;
}

.main-title {
  max-width: 97vw;
  margin: auto;

  font-size: 1.5em;
}

.meme-container:first-child {
  border-top: lightgreen 2px solid;
}

.meme-label {
  width: 100%;
  padding: 5vw 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  font-weight: 700;
}

.meme-picture {
  width: 100%;
  height: 0;

  transform-origin: 50% 0;
  transform: scaleY(0);
  transition: 0.5s;
}

.radio-btn {
  display: none;
}

.radio-btn:checked + .meme-label > .meme-picture {
  height: auto;
  margin-top: 5vw;

  transform: scaleY(1);
  transition: 0.5s;
}

.wrapper .meme-label {
  color: green;
}

.meme-container:active > .meme-label {
  color: green;
}

.wrapper .radio-btn:checked + .meme-label {
  color: #000;
  background: url('./assets/open-icon.png') no-repeat top 3% right;
}

.wrapper .radio-btn:checked + .meme-label {
  background: none;
}

@media (hover: hover) {
  .meme-label:hover > .meme-picture,
  .meme-label > .meme-picture:hover {
    height: auto;
    margin-top: 5vw;

    transform: scaleY(1);
    transition: 0.5s;
  }

  .wrapper:hover .meme-label {
    color: #000;
    background: url('./assets/close-icon.png') no-repeat center right;
  }

  .meme-container:active > .meme-label > .meme-picture {
    opacity: 0.5;
  }

  .wrapper:hover .meme-label:hover,
  .meme-picture:hover {
    background: url('./assets/open-icon.png') no-repeat top 3% right;
  }

  .wrapper:hover .radio-btn:checked + .meme-label {
    color: #000;
    background: url('./assets/open-icon.png') no-repeat top 3% right;
  }
}
