.meme-container {
  max-width: 97vw;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  border-bottom: lightgreen 2px solid;
}

.meme-container:first-child {
  border-top: lightgreen 2px solid;
}

.meme-picture {
  width: 100%;
  height: 0;

  transform-origin: 50% 0;
  transform: scaleY(0);
  transition: 0.5s;
}

.radio-btn {
  display: none;
}

.meme-label {
  width: 100%;
  padding: 5vw 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  font-weight: 700;
}

.close-btn {
  transform: rotate(45deg);
  transition: all 0.5s;
}

.meme-label:hover > .meme-picture,
.meme-label > .meme-picture:hover {
  height: auto;
  margin-bottom: 5vw;

  transform: scaleY(1);
  transition: 0.5s;
}

.meme-label:hover > .close-btn {
  transform: rotate(0);
}

.radio-btn:checked + .meme-label {
  color: #000;
}

.radio-btn:checked + .meme-label > .meme-picture {
  height: auto;
  margin-bottom: 5vw;

  transform: scaleY(1);
  transition: 0.5s;
}

.radio-btn:checked + .meme-label > .close-btn {
  transform: rotate(0);
}

.wrapper .close-btn {
  opacity: 0;
}

.wrapper:hover .close-btn {
  opacity: 1;
}

.wrapper .meme-label {
  color: green;
}

.wrapper:hover .meme-label {
  color: #000;
}

.meme-container:active > .meme-label {
  color: green;
}

.meme-container:active > .meme-label > .meme-picture {
  opacity: 0.8;
}
